<web-app>
    <servlet>
        <servlet-name>OngetParameterValues</servlet-name>
        <servlet-class>OngetParameterValues</servlet-class>
    </servlet>
    <servlet-mapping>
            <servlet-name>OngetParameterValues</servlet-name>
            <url-pattern>/onGPV</url-pattern>
    </servlet-mapping>
</web-app>