<web-app>
     <servlet>
          <servlet-name>Refresh</servlet-name>
          <servlet-class>Autorefreshservlet</servlet-class>
     </servlet>
     <servlet-mapping>
          <servlet-name>Refresh</servlet-name>
          <url-pattern>/refresh</url-pattern>
     </servlet-mapping>
</web-app>